@font-face {
    font-family: presidium;
    src: url(../fonts/presidium.ttf);
}
body{
    margin-left:0px;
    background-color:rgb(240, 238, 238);
}
#back{
    opacity:25%;
    width:98.7vw;
    position:fixed;
    height:100vh;
}
#content{
    z-index:1;
    position:absolute;
    min-width:98.7vw;
    height:auto;
    /* background-color:rgb(221, 221, 221); */
}
#nav{
    background-color:rgb(221, 221, 221);
    position:fixed;
    top:0vw;
    min-width:100vw;
    min-height:5vw;
    max-width:100vw;
    max-height:6vw;
    z-index:2;
}

#mainname{
    font-family:presidium;
    font-size:2.5vw;
    margin-left:3vw;
    margin-top:1.5vw;
    color:rgb(255, 153, 51);
    font-weight:800;
}

#bts{
    position:fixed;
    top:0vw;
    right:0vw;
    margin-right:5vw;
}

.navbt{
    border-style:none;
    background:none;
    font-size:1.5vw;
    margin-top:1.75vw;
    margin-right:1vw;
    font-weight:bold;
}

#bts button:hover{
    text-decoration:underline;
    text-decoration-color:rgb(255, 153, 51);
    text-decoration-thickness:0.25vw;
    transform: translateY(-5px);
}
#second{
    margin-top:0vw;
    display:block;
}

#mainphoto{
    float:right;
    margin-top:10vw;
    max-width:40vw;
    margin-right:1vw;
}

#text{
    margin-top:10vw;
    margin-left:2vw;
    float:left;
    font-size:4vw;
    font-weight:700;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vw;
    backdrop-filter: blur(4px); 
    background-color: rgba(221, 221, 221, 0.7);
}

#firsttext{
    margin-top:0vw;
    color:rgb(255, 153, 51);
}
#secondtext{
    margin-top:-2vw;
    font-size:3.5vw;
}
#thirdtext{
    margin-top:-2vw;
    color:rgb(255, 153, 51);
}


#actualcontent{
    margin-top:40vw;
    margin-bottom:0vw;
    margin-left:2vw;
    margin-right:2vw;
    /* border-style:double; */
}

.right{
    margin-left:54vw;
    width:40vw;
    margin-bottom:4vw;
}
.left{
    margin-left:0vw;
    width:40vw;
    margin-bottom:4vw;
}

.textbox1{
    display:inline-block;
    vertical-align: top;
    /* border-style:double; */
    margin-left:4vw;
    margin-top:0vw;
    width:48vw;
    height:25.5vw;
    background-color: rgba(221, 221, 221, 0.6);
    border-style:groove;
    border-width:0.7vw;
    border-color:rgba(221,221,221,0.5);
    backdrop-filter: blur(2px); 
}
.textbox2{
    display:inline-block;
    vertical-align: top;
    /* border-style:double; */
    margin-left:0vw;
    margin-top:-31vw;
    width:48vw;
    height:25.5vw;
    background-color: rgba(221, 221, 221, 0.6);
    border-style:groove;
    border-width:0.7vw;
    border-color:rgba(221,221,221,0.5);
    backdrop-filter: blur(2px); 
}

h1{
    color:rgb(255, 153, 51);
    margin-left:3vw;
    font-weight:bolder;
    font-size:4vw;
    margin-top:0.5vw;
    margin-bottom:0.5vw;
}
.des{
    margin-left:1.5vw;
    font-size:2vw;
    margin-right:1.5vw;
    font-weight:600;
}