@keyframes gayab{
    0%{transform:scale(0);
}
    90%{transform:scale(0);
}
    100%{transform:scale(1);
}

}
#games{
    font-size:3.5vw;
    position:absolute;
    color:blueviolet;
    top:35vw;
    right:30vw;
    animation: gayab 4.5s linear;
}
#gamesdes{
    font-size:1.5vw;
    position:absolute;
    /* color:blueviolet; */
    top:42vw;
    right:5vw;
    max-width:40vw;
    animation: gayab 4.5s linear;
}
#gamesphoto{
    position:absolute;
    top:38vw;
    left:4vw;
    width:45vw;
    animation: gayab 4.5s linear;
}
#gamesonbt{
    position:absolute;
    border-style:none;
    background-color:blueviolet;
    top:55vw;
    right:35vw;
    width:10vw;
    height:5vw;
    transition: transform 0.4s ease;

    animation: gayab 4.5s linear;
}
#gamesdwbt{
    position:absolute;
    border-style:none;
    background-color:blueviolet;
    top:55vw;
    right:24vw;
    width:10vw;
    height:5vw;
    transition: transform 0.4s ease;
    animation: gayab 4.5s linear;
}
#gamesonbt:hover{
    background-color: rgb(96, 13, 172);
    transform: translateY(-5px);
}
#gamesdwbt:hover{
    background-color: rgb(96, 13, 172);
    transform: translateY(-5px);
}
#equ{
    font-size:3.5vw;
    position:absolute;
    color:blueviolet;
    top:68vw;
    left:5vw;
    animation: gayab 4.5s linear;
}
#equdes{
    font-size:1.5vw;
    position:absolute;
    /* color:blueviolet; */
    top:75vw;
    left:5vw;
    max-width:40vw;
    animation: gayab 4.5s linear;
}
#equphoto{
    position:absolute;
    top:71vw;
    right:4vw;
    width:45vw;
    animation: gayab 4.5s linear;
}
#solvebt{
    position:absolute;
    background-color: blueviolet;
    border-style: none;
    top:85vw;
    left:5vw;
    width:10vw;
    height:5vw;
    transition: transform 0.4s ease;
    animation: gayab 4.5s linear;
}
#solvebt:hover{
    transform: translateY(-5px);
    background-color: rgb(96, 13, 172);
}
#edit{
    font-size:3.5vw;
    position:absolute;
    color:blueviolet;
    top:101vw;
    right:30vw;
    animation: gayab 4.5s linear;
}
#editdes{
    font-size:1.5vw;
    position:absolute;
    /* color:blueviolet; */
    top:108vw;
    right:5vw;
    max-width:40vw;
    animation: gayab 4.5s linear;
}
#editphoto{
    position:absolute;
    top:104vw;
    left:4vw;
    width:45vw;
    animation: gayab 4.5s linear;
}
#watchbt{
    position:absolute;
    background-color: blueviolet;
    border-style: none;
    top:118vw;
    right:35vw;
    width:10vw;
    height:5vw;
    transition: transform 0.4s ease;
    animation: gayab 4.5s linear;
}

#watchbt:hover{
    background-color: rgb(96, 13, 172);
    transform: translateY(-5px);
}
#bottom{
    position: absolute;
    top:136vw;
    padding-bottom:4vw;
    padding-top:1vw;
    /* background-color: blue; */
    min-width:99vw;
    margin-left:-1vw;
    margin-right:0px;
    animation: gayab 4.5s linear;
}
#bottomimg{
    position: absolute;
    display:inline-block;
    width:3vw;
    left:15vw;
    margin-left:0px;
    margin-right:0px;
    animation: gayab 4.5s linear;
}
#bottomname{
    position: absolute;
    display:inline-block;
    font-size:2vw;
    color:blueviolet;
    margin-top:0.5vw;
    margin-left:1vw;
    left:18vw;
    animation: gayab 4.5s linear;
}
#bottomname2{
    position: absolute;
    display:inline-block;
    font-size:3vw;
    margin-top:-0.5vw;
    left:36vw;
    animation: gayab 4.5s linear;
}
#bottomname3{
    position: absolute;
    display:inline-block;
    color:gray;
    font-size:1vw;
    margin-top:1vw;
    left:39vw;
    animation: gayab 4.5s linear;
}
#bottominstaimg{
    display:inline-block;
    position: absolute;
    left:70vw;
    width:3vw;
    animation: gayab 4.5s linear;
}
#bottomgitimg{
    display:inline-block;
    position: absolute;
    left:75vw;
    width:3vw;
    animation: gayab 4.5s linear;
}