#between{
    position:absolute;
    top:8vh;
    left:5vw;
    font-size:2vw;
    color:white;
}
#welcome{
    color:blueviolet;
}
#name2{
    color:blueviolet;
}
#img{
    position:absolute;
    top:8vh;
    right:3vw;
    width:40vw;
}
#games{
    position:absolute;
    font-size:5vw;
    color:blueviolet;
    top:25vh;
    right:30vw;
}
#equ{
    position:absolute;
    font-size:5vw;
    color:blueviolet;
    top:48vh;
    left:3vw;
}
#edit{
    position:absolute;
    font-size:5vw;
    color:blueviolet;
    top:70vh;
    right:32vw;
}
#gamesimg{
    position:absolute;
    top:28vh;
    width:45vw;
    left:1vw;
}
#equimg{
    position: absolute;
    top:51vh;
    right:4vw;
    width:45vw;
    height:30vw;
}
#editimg{
    position: absolute;
    top:73vh;
    left:1vw;
    width:45vw;
    height:30vw;
}
#gamesdes{
    position:absolute;
    font-size:2vw;
    top:32vh;
    right:4vw;
}
#equdes{
    position: absolute;
    font-size:2vw;
    top:55vh;
    left:4vw;
}
#editdes{
    position: absolute;
    font-size: 2vw;
    top:77vh;
    right:8vw;
}
.bt{
    position: absolute;
    background-color:blueviolet;
    border-style:none;
    font-size:3vw;
    min-height:2vh;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:1vh;
    padding-bottom:1vh;
}
#gamesonline{
    top:40vh;
    right:28vw;
}
#gamesdownload{
    top:40vh;
    right:7vw;
}
#equbutton{
    top:63vh;
    left:4vw;
}
#editbt{
    top:85vh;
    right:37vw;
}
#bottom{
    position: absolute;
    top:95vh;
    padding-top:1vh;
    padding-bottom:2vw;
    min-width:98vw;
    min-height:6vh;
    margin-left:1vw;
    margin-right:1vw
}
#bottomimg{
    position: absolute;
    display:inline-block;
    width:10vw;
    left:5vw;
    margin-left:0px;
    margin-right:0px;
    padding-bottom:3vh;
}
#bottomname{
    position: absolute;
    display:inline-block;
    font-size:4vw;
    color:blueviolet;
    margin-top:0.5vw;
    margin-left:1vw;
    left:18vw;
}
#bottomname3{
    position: absolute;
    display:inline-block;
    color:gray;
    font-size:2vw;
    margin-top:6vw;
    left:19.5vw;
}
#bottominstaimg{
    display:inline-block;
    position: absolute;
    left:63vw;
    width:8vw;
    margin-top:0.75vh;
}
#bottomgitimg{
    display:inline-block;
    position: absolute;
    left:75vw;
    width:8vw;
    margin-top:0.75vh;
}
